<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>applab-ug.farmer-link-server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetDistrictsAndCrops</display-name>
    <servlet-name>GetDistrictsAndCrops</servlet-name>
    <servlet-class>applab.farmerlink.server.GetDistrictsAndCrops</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDistrictsAndCrops</servlet-name>
    <url-pattern>/getDistrictsAndCrops</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFarmersAndMarketPrices</display-name>
    <servlet-name>GetFarmersAndMarketPrices</servlet-name>
    <servlet-class>applab.farmerlink.server.GetFarmersAndMarketPrices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFarmersAndMarketPrices</servlet-name>
    <url-pattern>/getFarmersAndMarketPrices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBuyers</display-name>
    <servlet-name>GetBuyers</servlet-name>
    <servlet-class>applab.farmerlink.server.GetBuyers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBuyers</servlet-name>
    <url-pattern>/getBuyers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostCompleteTransaction</display-name>
    <servlet-name>PostCompleteTransaction</servlet-name>
    <servlet-class>applab.farmerlink.server.PostCompleteTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostCompleteTransaction</servlet-name>
    <url-pattern>/postCompleteTransaction</url-pattern>
  </servlet-mapping>
</web-app>